---
import {getEntry} from "astro:content";
import BasePage from "../layouts/BasePage.astro";
import FormattedDate from "../components/FormattedDate.astro";

const {data, ...entry} = await getEntry('content', 'history')
const { Content } = await entry.render();
---

<BasePage
	title={data.title}
	description={data.description}
>
	<article>
		<div class="relative">
			<img width={1020} height={510} src={data.heroImage} alt={data.title} class="shadow rounded-lg aspect-[4]" />
		<div class="space-y-2 absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center text-white">
			<div class="italic">
				<FormattedDate date={data.updatedDate ?? data.pubDate} />
			</div>
			<h1>{data.title}</h1>
		</div>
		</div>
		<div class="prose">
			<Content/>
		</div>
	</article>
</BasePage>
