---
import {getCollection} from "astro:content";
import BasePage from "../layouts/BasePage.astro";
import FormattedDate from "../components/FormattedDate.astro";

const entries = await getCollection('content')
const {data, ...entry} = entries.filter(entry => entry.data.title === 'Work history')[0];
const { Content } = await entry.render();
---

<BasePage
	title={data.title}
	description={data.description}
>
	<article>
		<div class="w-full">
			<img width={1020} height={510} src={data.heroImage} alt={data.title} class="shadow rounded-lg aspect-[4]" />
		</div>
		<div class="text-center py-4 space-y-2">
			<div class="italic">
				<FormattedDate date={data.updatedDate ?? data.pubDate} />
			</div>
			<h1>{data.title}</h1>
			<hr />
		</div>
		<div class="prose">
			<Content/>
		</div>
	</article>
</BasePage>
